[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "chi"]
	path = chi
	url = https://github.com/dkahle/chi
[submodule "ggmap"]
	path = ggmap
	url = https://github.com/dkahle/ggmap
[submodule "invgamma"]
	path = invgamma
	url = https://github.com/dkahle/invgamma
[submodule "latte"]
	path = latte
	url = https://github.com/dkahle/latte
[submodule "mpoly"]
	path = mpoly
	url = https://github.com/dkahle/mpoly
[submodule "poisDoubleSamp"]
	path = poisDoubleSamp
	url = https://github.com/dkahle/poisdoublesamp
[submodule "TITAN2"]
	path = TITAN2
	url = https://github.com/dkahle/titan2
